:root{
   --mainColor: #eaeaea;
   --secondaryColor: #fff;
   --mainText: black;
   --secondaryText: #4b5156;
   --borderColor: #c1c1c1;
   --primaryBlue: #17a2b8;
   --darkColor: #9b9b9b;
   --themeDotBorder: #24292e;
   --bg-previewBg: rgba(251,249,243,0.8);
   --bg-previewShadow: #f06ad6;
}

html, body{margin:0; padding:0;}

h1, h2, h3 strong{
   color: var(--mainText);
   font-family: 'Montserrat', sans-serif;

  
}
p, li, span, label, input, textarea{
   color: var(--mainText);
   font-family: 'Roboto Mono', monospace;
}

h1{ font-size: 56px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 16px;}

a{
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   color: var(--mainText);
}

ul{
   list-style: none;
}

#wrapper{
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 3em 30em;
   grid-template-areas: "navigation navigation"
                        "left-column right-column";
   gap: 10px;
}
.navigation{
   grid-area: navigation;
}
.left-col{
   grid-area: left-column;
   padding-top: 15px;
   padding-bottom: 15px;

}
.right-col{
   grid-area: right-column;
   display: grid;
   align-content: center;
   padding-top: 50px;
   padding-bottom: 50px;

}

.center-items{
   display: flex;
   justify-content: center;
   align-items: center;
}

.s1{
   background-color: var(--mainColor);
   border-bottom: 1px solid var(--borderColor);
   overflow: auto;
}
.s2{
   background-color: var(--secondaryColor);
   border-bottom: 1px solid var(--borderColor);
   overflow: auto;
}
.main-container{
   width: 1200px;
   margin: 0 auto;
}

.greeting-wrapper{
   display: grid;
   
   min-height: 10em;
   justify-content: center;
   align-content: center;
}

.intro-wrapper{
   display: grid;
   grid-template-columns: 1fr 1fr ;
   /* grid-template-rows: 3em 30em; */
   grid-template-areas: 'nav-wrapper nav-wrapper'
                        'left-column right-column';
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   background-color: var(--secondaryColor);
   border: 1px solid var(--borderColor);
   border-radius: 5px 5px 0 0 ; 
}

.nav-wrapper{
   grid-area: nav-wrapper;
   border-bottom: 1px solid var(--borderColor);
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--darkColor);
   border-radius: 5px 5px 0 0;

}
#navigation{
   margin: 0;
   padding: 10px;
   
}
#navigation li{
   display: inline;
   margin: 0 5px;
}

.dots-wrapper{
   display: flex;
   padding: 10px;
}
.browser-dot{
   background-color: black;
   height:15px ;
   width:  15px;
   border-radius: 50%;
   -webkit-box-shadow: 13px 9px 5px -3px rgba(0,0,0,0.98);
   -moz-box-shadow: 13px 9px 5px -3px rgba(0,0,0,0.98);
   box-shadow: 8px 2px 5px -3px rgba(0,0,0,0.98);
   margin: 5px;
}
#dot-1{
   background-color: #FC6058;
}
#dot-2{
   background-color: #FEC02F;
}
#dot-3{
   background-color: #2ACA36;
}

.text-option{
   text-align: center;
   line-height: 0;
}

#profile-pic{
   width:  250px;
   height: 250px;
   object-fit: cover;
   border: 2px solid var(--borderColor);
   display: block;
   margin: 0 auto;
   /* border-radius: 50%; */
   -webkit-box-shadow: 13px 9px 5px -3px rgba(0,0,0,1);
   -moz-box-shadow: 13px 9px 5px -3px rgba(0,0,0,1);
   box-shadow: 13px 9px 5px -3px rgba(0,0,0,1);
}
.theme-dot{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background-color: var(--mainText);
   -webkit-box-shadow:5px5px 5px -3px rgba(0,0,0,1);
   -moz-box-shadow:5px5px 5px -3px rgba(0,0,0,1);
   box-shadow: 5px 5px 5px -3px rgba(0,0,0,1);
   cursor: pointer;
   margin: 5px;
   border: 1px solid var(--themeDotBorder);
}
.theme-dot:hover{
   border-width: 2px;
}

.theme-options-wrapper{
   display: flex;
   justify-content: center;
   min-height: 50px;
}
#light-mode{
   background-color: #fff;
}
#dark-mode{
   background-color: #0f2258;
}
#green-mode{
   background-color: #5f7c44;
}
#purple-mode{
   background-color: #7f0c8a;
}

#setting-note{
   font-size: 12px;
   font-style: italic;
   text-align: center;
}

#preview{
   width: 300px;
   border: 1.5px solid #17a2b8;
   background-color: var(--bg-previewBg);
   padding: 15px;
   margin: 5em;
   -webkit-box-shadow:5px5px 5px -3px rgba(0,0,0,1);
   -moz-box-shadow:5px5px 5px -3px rgba(0,0,0,1);
   box-shadow: 5px 5px 5px -3px rgb(221, 139, 46);
   /* position: absolute; */
   /* margin: 0 auto; */
}

/*  */
@media screen and (max-width: 1200px){
   .main-container{
         width: 95%;
   }
}
@media screen and (max-width: 800px){
   .intro-wrapper{

      grid-template-columns: 1fr ;
      /* grid-template-rows: 3em 30em; */
      grid-template-areas: 'nav-wrapper'
                           'left-column'
                           'right-column';
   }
   .right-col{
      justify-content: center;
   }
   #preview{
      width: auto;

   }
}